
<% @completed_regimens.to_a.each do |regimen| %>
    <div id="single-regimen">
      <center>
        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
      </center>
    </div>
<% end %>