<h1> Practices </h1>
  <center>
  <div class='practice-container'>

    <section class='chants-container'>
      <div class='chants'>
        <%= render 'chants' %>
      </div>
    </section>

    <section class='body-practices-container'>
      <div class='body-practices'>
        <%= render 'body_practices' %>
      </div><br>
    </section>

    <section class='seated-practices-container'>
      <div class='seated-practices'>
        <%= render 'seated_practices' %>
      </div><br>
    </section>

    <section class='service-container'>
      <div class='services'>
        <%= render 'services' %>
      </div><br>
    </section>

  </div>
</center>


