<div id="pageshift">
	<center>
	  <h1><%= @practice.name %></h1>
    <div class="single-practice">
  	  Description:<p><%= @practice.description %></p>
  	  Method: <p><%= @practice.method %></p>
      <audio>
	 </div>
  </center>
</div>
