<h2> Recordings </h2>
    <% @resources.recordings.each do |recording| %>
        <p><%= link_to recording.name, recording.url %> </p>
        <p><%= recording.description %></p>
        <br></br>
    <% end %>
