<div id="pageshift">
<<<<<<< e5e06ce5ae3f1939f656bce7c8b9d9286dfa4beb
  <center>
    <h1> Resources </h1>
    <div class='resource-container'>
      <section class='recordings-container'>
        <div class='audios'>
          <%= render 'audios' %>
        </div>
      </section>
=======
    <center>
      <div class='resource-container'>
>>>>>>> ajaxing resources index in progress

      <section class='readings-container'>
        <div class='readings'>
          <%= render 'readings' %>
        </div><br>
      </section>

      <section class='links-container'>
        <div class='links'>
            <%= render 'links' %>
        </div><br>
      </section>

      <section class='images-container'>
        <div class='images'>
          <%#= render 'images' %>
        </div><br>
      </section>

      <section class='videos-container'>
        <div class='services'>
          <%#= render 'services' %>
        </div><br>
      </section>

    </div>
  </center>
  <% #commented out resources will be added later %>
</div>
