// Place all the styles related to the practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #1bbc9b;
}

.single-practice {
  font-size: 15px;
}

#homepage {
	background-image: url("http://imgview.info/download/20151007/pier-sea-sunset-plants-birds-beautiful-scenery-1366x768.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
}

#chant0 {
	background-image: url("http://imgview.info/download/20151007/pier-sea-sunset-plants-birds-beautiful-scenery-1366x768.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
}
