// Place all the styles related to the practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #1bbc9b;
}

.single-practice {
  font-size: 15px;
}

#homepage {
	background-image: url("birds_sunset.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
}

#chant0 {
	background-image: url("perfect_crash.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
}

#body0, #body1, #body2, #body3, #body4 {
	background-image: url("mountain_lookout.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
}

#seated0 {
	background-image: url("centered_mountain.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
}	

#service0 {
	background-image: url("ideal_splash.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
}

#guideline0 {
	background-image: url("perfect_pier.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
	
}

#lifestyle0 {
	background-image: url("snow_green_lake.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;
}

#getting-started0 {
	background-image: url("kayak_lake.jpg");
	background-size: contain;
	background-attachment: fixed;
	background-size: 100%;	
}