// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resource-container {
  font-size: 15px;
  color: 	black;
}
.bookmark-res {
width: 10%;
}

.whitefont {
  color: #fffafa;
}

.resource-link {
  color: #fffafa;
}

.new_resource {
  width: 75%;
  position: relative;
  border: 1px solid red;
  top: 300px;
}
