// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form {
	text-align: center;
}

.field {
	width: 20%;

}

.whitefont {
	color: #fffafa;
}


#styled-heading {
	text-align: center;
}

#errors {
	text-align: center;
	border: 2x solid #E9E9E9;
	border-radius: 15px;
	background-color: #90EE90;
	opacity: 0.85;
}

.regular-list {
	padding-right: 40px;
	text-align: center;
	opacity: 1;
	background: none;
	border-style: none;
}

.each-user {
	width: 200px;
	height: 200px;
	margin: 30px;
	display: inline-block;
	border: 2px solid #E9E9E9;
	border-radius: 100px;

}

.user-box {
	margin: 0px auto;
	display: table;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

#profile-image {
	margin-top: 40px;
	margin-left: 12.5px;
}

#circle-user-info {
	margin: 0 auto;
}

#halfsize {
	width: 45%;
}

.all-users-header {
	text-align: center;
}

body {
	background-image: url('misty_mountains.jpeg')
}

.user-header {
	margin-left: 30px;
}

.users-info {
	margin-left: 10px;
	p{
	color: rgb(93, 125, 133);
	}
}

.sub-info {
	vertical-align: top;
	margin-top: 50px;
	margin-left: 30px;
	float: clear;
}

#main-info {
	p {
	 font-size: 150%;
	 color: black;
	}
	a {
	color: black;
	}
}

#about-me {
	font-size: 125%;
	display: inline;
	padding-top: 20px;
	word-wrap: break-word;
	p {
	color: black;
	text-align: center;
	border-radius: 20px;
	background-color: rgba(180, 180, 180, 0.15);
	}
}

#profile-header {
	padding-top: 5px;
	color: white;
}

#user-avatar {
	overflow: auto;
	margin-top: 10px;
	margin-left: 10px;
	vertical-align: middle;
	
}

#regimen-info {
	vertical-align: top;
	float: right;
	padding: 10px;
		p {
	 font-size: 150%;
	}

}

#single-regimen {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #E9E9E9;
	border-radius: 50px;
	margin: 2px;
}

.glyphicon-leaf {
	margin-top: 10px;
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: green;
}

#regimen-card {
	border-left: 1px solid rgb(93, 125, 133);
	border-radius: 50px;
	background-color: rgba(180, 180, 180, 0.25);
	padding: 15px; 
	content-align: center;
	float: right;
  color: rgb(22, 47, 61);
  h3 {
  color: rgb(180, 180, 180);
  }
  a {
  color: black;
  }
	
}


#user-info-column {
	/*background-color: rgb(45, 82, 100);*/
	border-radius: 30px;
}

.glyphicon-trash {
	width: 10px;
	height: 10px;
}


#bookmarked-sources {
	color: rgb(22, 47, 61);
	display: block;
	border-radius: 30px;
	padding: 10px;
	float: right;
	font-size: 150%;
	a{
	 color: black;
	}
}


