// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#form {
	text-align: center;
}

.field {
	width: 20%;

}

#styled-heading {
	text-align: center;
}

#errors {
	text-align: center;
	border: 2x solid #E9E9E9;
	border-radius: 15px;
	background-color: #90EE90;
	opacity: 0.85;
}

.regular-list {
	float: none;
	text-align: center;
	opacity: 1;
	background: none;
	border-style: none;
}

.each-user {
	width: 200px;
	height: 200px;
	margin: 30px;
	display: inline-block;
	border: 2px solid #E9E9E9;
	border-radius: 100px;

}

.user-box {
	margin: 0px auto;
	display: table;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

#profile-image {
	margin-top: 40px;
	margin-left: 12.5px;
}

#circle-user-info {
	margin: 0 auto;
}

#halfsize {
	width: 45%;
}

.all-users-header {
	text-align: center;
}

.user-header {
	margin-left: 30px;
}

.users-info {
	margin-left: 30px;
	width: 95%;
}

.sub-info {
	vertical-align: top;
	margin-top: 50px;
	margin-left: 30px;
	width: 95%;
	float: clear;
}

#main-info {
	p {
	 font-size: 195%;
	}
}

#about-me {
	width: 45%;
	font-size: 175%;
	display: inline;
	float: right;
	padding-top: 20px;
	word-wrap: break-word;
}

#profile-header {
	padding-top: 5px;
	width: 100%;
}

#user-avatar {
	margin-top: 20px;
	margin-left: 30px;
	vertical-align: middle;
}

#regimen-info {
	width: 100%;
	vertical-align: top;
	float: left;
	margin-right: 30px;
	margin-bottom: 3em;
		p {
	 font-size: 150%;
	}

}

#single-regimen {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #E9E9E9;
	border-radius: 50px;
	margin: 2px;
}

.glyphicon-leaf {
	margin-top: 10px;
	width: 25px;
	height: 25px;
	font-size: 25px;
	color: green;
}

#regimen-card {
	border: 1px solid black;
	align: center;
	margin: auto;
	box-shadow: 5px 5px 2.5px #888888;

}

.glyphicon-trash {
	width: 10px;
	height: 10px;
}

#bookmarked-sources {
	width: 45%;
	float: left;
}


