<div class="dropdown dropdown-accordion" data-accordion="#accordion">
  <a class="btn btn-primary" href="#" data-toggle="dropdown">Dropdown trigger </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion">
                Unit 1
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapseOne">
            <div class="panel-body">
              <a href="#">Item a</a><br>
              <a href="#">Item b</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
                Unit 2
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapseTwo">
            <div class="panel-body">
              <a href="#">Item a</a><br>
              <a href="#">Item b</a><br>
              <a href="#">Item c</a>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>